<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Professor</title>
</head>
<body>
    <form action="{% url 'criar_professor' %}" method="post">
        {% csrf_token %}
        <input type="text" name="nome" required>
        <input type="date" name="data_nascimento" required>
        <input type="date" name="data_contratacao" required>
        <label for="ativo">
            INSS: <input type="checkbox" id="ativo" name="ativo">
        </label>
        <select name="turma" id="turma">
            <option value="">
                --
            </option>
            {% for turma in turmas %}
                <option value="{{ turma.id }}">
                    {{ turma.nome }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Criar Professor">
    </form>
</body>
</html>