<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Turma</title>
</head>
<body>
    <form action="{% url 'criar_turma' %}" method="post">
        {% csrf_token %}

        {{ form }}

        <input type="submit" value="Criar Turma">
        {% for field in form %}
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        {% endfor %}
    </form>
</body>
</html>