{% extends 'base.html' %}
{% load static %}
{% block title %} Criar Turma {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/criar_turma.css' %}">
{% endblock %}

{% block content %}
    <form class="form" action="{% url 'criar_turma' %}" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.nome.id_for_label }}">{{ form.nome.label }}</label>
            {{ form.nome }}
            {% for error in form.nome.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="{{ form.inicio_aulas.id_for_label }}">{{ form.inicio_aulas.label }}</label>
            {{ form.inicio_aulas }}
            {% for error in form.inicio_aulas.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="{{ form.fim_aulas.id_for_label }}">{{ form.fim_aulas.label }}</label>
            {{ form.fim_aulas }}
            {% for error in form.fim_aulas.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="{{ form.ativa.id_for_label }}">{{ form.ativa.label }}</label>
            {{ form.ativa }}
            {% for error in form.ativa.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <input class="form-group" type="submit" value="Criar Turma">
    </form>
{% endblock %}