{% extends 'base.html' %}
{% load static %}
{% block title %} Listagem das Turmas {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/listar_turma.css' %}">
{% endblock %}

{% block content %}

<div class="lista-container">
    {% for turma in turmas %}
        <div class="turma">
            <div class="titulo">{{ turma.nome }}</div>
            <div class="logo">
                <img src="{% static 'img/logo_raro.webp' %}" alt="Logo Turma">
            </div>
            <div class="infos">
                <p>Data Início: {{ turma.inicio_aulas }}</p>
                <p>Data Fim : {{ turma.fim_aulas }}</p>
                <p>Turma Ativa:
                    {% if turma.ativa %}
                        Sim
                    {% else %}
                        Não
                    {% endif %}
                </p>
            </div>
            <hr>
            <div class="professores">
                Professores: 
                {% for professor in turma.professores.all %}
                    {{ professor.nome }} |
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}