<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso Python</title>
</head>
<body>

    <h1>Adcionar novo aluno:</h1>
    <form action="{% url 'criar_aluno' %}" method="post">
        {% csrf_token %}
        <input type="text" name="nome" placeholder="Nome">
        <input type="text" name="cargo" placeholder="Cargo">
        <label for="aposentado">
            Aposentado?
            <input type="checkbox" name="aposentado" id="aposentado">
        </label>
        <input type="text" name="data_nascimento" placeholder="Data de Nascimento">
        <input type="submit" value="Criar Aluno">
    </form>

    <h2>Listagem alunos:</h2>
    {% for aluno in alunos %}
        Nome: {{ aluno.nome }}
        Cargo: {{ aluno.cargo }}
        Aposentado: {{ aluno.posentado}}
        Data de Nascimento: {{ aluno.data_de_nascimento }}
        <br>
    {% endfor %}
</body>
</html>